﻿<% Response.StatusCode = 404 %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>404 Page Not Found</title>
</head>
<body>
    <h1>404 Page Not Found ASPX</h1>
</body>
</html>