﻿
<% Response.StatusCode = 500 %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>500 Server Error</title>
</head>
<body>
    <h1>500 Server Error ASPX</h1>
</body>
</html>