﻿/*----------------------------------------*/
/*CSS for _NavigationBar, _LoginPartial */
/*----------------------------------------*/

/* change the navbar color */
.navbar-custom {
    background-color: #242f83;
    background: -moz-linear-gradient(45deg, rgba(42,98,139,1) 0%, rgba(35,36,137,1) 46%, rgba(35,36,137,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(42,98,139,1)), color-stop(46%, rgba(35,36,137,1)), color-stop(100%, rgba(35,36,137,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(42,98,139,1) 0%, rgba(35,36,137,1) 46%, rgba(35,36,137,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(42,98,139,1) 0%, rgba(35,36,137,1) 46%, rgba(35,36,137,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(42,98,139,1) 0%, rgba(35,36,137,1) 46%, rgba(35,36,137,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(42,98,139,1) 0%, rgba(35,36,137,1) 46%, rgba(35,36,137,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232489', endColorstr='#2a628b',GradientType=1 ); /* ie6-9 */
}

/*logo color*/
#logo {
    height: 50px;
    width: 115px;
    border-radius: 15px;
    /*background-color: #cecece;*/
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

/* trasition for resizing action */
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/
.sticky-top {
    transition: all 0.25s ease-in;
}

/* style for when sitcky is applied */
.stuck .sticky-top {
    /*background-color: #222 !important;*/
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/


/* scroll indicator action */
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/
/*applied if cointainer wanted*/
/*.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
    position: relative;
}*/

#myBar, .navProgress .progress-bar {
    height: 4px;
    background: #fd8f3b !important;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/


/*hover animation*/
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/
/*ul.dropdown-menu {
    width: 11vw;
    border-radius: 0px;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 16px;
    text-decoration: none;
    padding: 0px;
    list-style-type: none;
    -webkit-animation: mymove 0.5s;
    animation: mymove 0.5s;
    background-color: #fff;
    -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
    -moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
    box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
}*/
/*li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.dropdown-menu li:hover a {
    color: #ec5626;
}

.dropdown-menu li {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: block;
}

.dropdown-menu li a {
    color: #444;
    text-decoration: none;
    text-transform: capitalize;
}*/

@keyframes mymove {
    from {
        left: 100px;
        height: 0px;
        opacity: 0;
        border-bottom: 0px;
    }

    to {
        height: auto;
    }
}

.navbar-nav a.nav-link {
    /*font-family: 'Roboto', sans-serif;*/
    /*text-transform: uppercase;*/
    padding: 0px !important;
}

ul.navbar-nav li.nav-item {
    margin: 0 20px;
}

ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}

.navbar-nav :not(.active):hover:after {
    width: 100%;
    background: #eb3719;
}
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/

/* change the brand and text color */
.navbar-brand #logo {
    color: orange;
    font-family: Consolas;
    border-radius: 25px;
    background-color: white;
}

.navbar-custom .navbar-text {
    color: orange;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: ORANGE;
}

/* change color of navbar toggle*/
.navbar-custom .navbar-toggler {
    border-color: WHITE;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



/*----------------------------------------*/
/*CSS for ~Home/Index
/*----------------------------------------*/
.carousel-item {
    /*text-align: center;*/
    /*display: flex;*/
}


#HeaderFont, span {
    color: #FC9A05;
}

.carousel-caption h2 {
    /*margin: auto;*/
    color: orange;
}

.carousel-caption h3 {
    color: #253989;
}

#welcomeSection {
    /*background-color: rgb(35,36,137,0.2);*/
    background: #d3d3e7; /* Old browsers */
    background: -moz-linear-gradient(top, #d3d3e7 0%, #a28f9d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d3d3e7 0%,#a28f9d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d3d3e7 0%,#a28f9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3e7', endColorstr='#a28f9d',GradientType=0 );
}

.carousel-caption {
    background-image: linear-gradient(to bottom, rgb(128, 128, 128), rgb(239,237,238,.4));
    border-radius: 10px;
    padding: 40px;
    /*margin: auto;*/
}


#serviceSection {
    /*background-color: #A28F9D;*/
    background: #a28f9d; /* Old browsers */
    background: -moz-linear-gradient(top, #a28f9d 0%, #7a8189 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a28f9d 0%,#7a8189 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a28f9d 0%,#7a8189 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a28f9d', endColorstr='#7a8189',GradientType=0 );
}

#rowsection {
    /*background: #a28f9d; /*/
    /*background: -moz-linear-gradient(top, #a28f9d 0%, #4e5256 0%, #868d93 100%); /* FF3.6-15 */
    /*background: -webkit-linear-gradient(top, #a28f9d 0%,#4e5256 0%,#868d93 100%); /* Chrome10-25,Safari5.1-6 */ */
    /*background: linear-gradient(to bottom, #a28f9d 0%,#4e5256 0%,#868d93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a28f9d', endColorstr='#868d93',GradientType=0 );*/ */ border-radius:10px;
}




/*----------------------------------------*/
/*SUBMIT NEW ORDER PAGE CSS*/
/*----------------------------------------*/
/* removing spinner our of chrome*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
/*for firefox mozilla*/
input[type=number] {
    -moz-appearance: textfield;
}

#result, #second, #third, #fourth {
    display: none;
}


/*cart animation*/
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/
.cart-steps {
    margin-bottom: 2rem;
    color: #999;
}

    .cart-steps ul {
        position: relative;
        overflow: hidden;
        margin-bottom: 0;
        padding: 0;
        list-style: none;
        text-align: center;
        z-index: 0;
    }

    .cart-steps li {
        padding-top: 0;
        padding-bottom: .5rem;
        line-height: .875rem;
    }

        .cart-steps li:after {
            position: absolute;
            content: '';
            top: 2.5rem;
            left: 0;
            right: 0;
            border-bottom: 1px solid #eee;
        }

        .cart-steps li:before {
            position: absolute;
            content: '';
            top: 2.5rem;
            left: 50%;
            margin-left: -5px;
            margin-top: 1px;
            border-top: 5px solid #eee;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
        }

        .cart-steps li span {
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 auto .75rem;
            line-height: 2.5rem;
            font-size: 1.25rem;
            font-weight: 700;
            color: #fff;
            background: #eee;
        }

        .cart-steps li.active {
            color: #333;
            border-color: #4fd0fb;
        }

            .cart-steps li.active:after {
                border-color: #4fd0fb;
            }

            .cart-steps li.active:before {
                border-top-color: #4fd0fb;
            }

            .cart-steps li.active span {
                background: #4fd0fb;
            }
/*--+--+--+--+--+--+--+--+--+--+--+--+--+--*/

/* button-submit/input for form*/
#placeOrder {
    background-color: rgb(253, 143, 59) !important;
    color: rgb(35, 30, 27) !important;
    font-weight: 500;
}







/*----------------------------------------*/
/* NEW ORDER VIEW CSS */
/*----------------------------------------*/
/*change background color-profile for form*/
#newOrderFormContainer {
    background-color: cornsilk;
}

/*change background color for header strip [also used in INDEX]*/
.formHeaders {
    background-color: coral;
    /*text-align:center;*/
}

/*----------------------------------------*/
/* INDEX CSS */
/*----------------------------------------*/

/*change background color-profile for form*/
#newOrderFormContainer {
    background-color: cornsilk;
}

/*change link alignment*/
.formHeaders p {
    /*background-color: coral;*/
    text-align: right;
}

/*chage*/
.indexCaption {
    background-color: antiquewhite;
    /*color:"";*/
}


/*----------------------------------------*/
/*~/ACCOUNT/rEGISTER PAGE CSS*/
/*----------------------------------------*/


#formheader, .form-header {
    margin: 0;
    margin-bottom: 30px !important;
    background: #3872af; /* Old browsers */
    background: -moz-linear-gradient(left, #3872af 0%, #1e5799 33%, #1e5799 67%, #3872af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3872af', endColorstr='#3872af',GradientType=1 ); /* IE6-9 */
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
    color: #f6903d !important;
}

#RegisterContainer, .container {
    padding: 20px 0 !important;
}

#RegisterFormWidth, .form-width {
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#RegisterButton, .btn {
    border-radius: 2px !important;
    box-shadow: 1px 4px 7px 0px rgba(99, 97, 97, 0.24);
    color: white !important;
    background-color: #284c8b !important;
    border-color: transparent !important;
}


#RegisterButton, .btn-default:hover {
    color: #f69135;
}

#RegisterFormControl .form-control {
    padding-left: 36px !important;
}

    #RegisterFormControl .form-control:focus {
        border-color: #ced4da !important;
        box-shadow: none !important;
    }


/*----------------------------------------*/
/*Login PAGE CSS*/
/*----------------------------------------*/
#LoginContainer, .container {
    padding: 20px 0 !important;
}

#LoginFormWidth, .form-width {
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#LoginFormHeader, .form-header {
    margin: 0;
    margin-bottom: 30px !important;
    background: #3872af; /* Old browsers */
    background: -moz-linear-gradient(left, #3872af 0%, #1e5799 33%, #1e5799 67%, #3872af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3872af', endColorstr='#3872af',GradientType=1 ); /* IE6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#295e8a', endColorstr='#295e8a',GradientType=1 ); /* IE6-9 */
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
    color: #F4A24E !important;
}

#LoginButton, .btn-default {
    border-radius: 2px !important;
    box-shadow: 1px 4px 7px 0px rgba(99, 97, 97, 0.24);
    color: white !important;
    background-color: #284c8b !important;
    border-color: transparent !important;
}

    #LoginButton, .btn-default:hover {
        color: #f69135;
    }

#SignUpHeader, .form-header {
    margin: 0;
    margin-bottom: 30px !important;
    background: #3872af; /* Old browsers */
    background: -moz-linear-gradient(left, #3872af 0%, #1e5799 33%, #1e5799 67%, #3872af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3872af', endColorstr='#3872af',GradientType=1 ); /* IE6-9 */
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
    color: #F4A24E !important;
}

#SignUpContainer, .container {
    padding: 20px 0 !important;
}

#SignUpFormWidth, .form-width {
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 8px;
}

#LoginRow, .row {
    padding: 14px;
}

/*#PDFButton, .btn-default, .btn {
    border-radius: 2px !important;
    box-shadow: 1px 4px 7px 0px rgba(99, 97, 97, 0.24);
    color: white !important;
    background-color: #284c8b !important;
    border-color: transparent !important;
    padding: 10px;
}*/
.btn-default:hover {
    color: #f69135 !important;
}

a .btn-lg .btn {
    color: black;
}

/*----------------------------------------*/
/*CSS for ~Management/Home
/*----------------------------------------*/
.element-1, .element-2, .element-3, .element-4 {
    display: none;
}

/*.a-1:hover ~ .element-1 {
    display: block;
}

.a-2:hover ~ .element-2 {
    display: block;
}

.a-3:hover ~ .element-3 {
    display: block;
}

.a-4:hover ~ .element-4 {
    display: block;
}*/


/*Changing pill color--------------*/
#a1, #a2, #a3, #a4 {
    background-color: rgba(249, 173, 46, 0.75);
    color: rgba(39, 35, 29, 0.75);
}

.homeText {
    /*background-color: rgba(168, 170, 234, 0.25);*/
}


/*.nav-pills .pill-2 .nav-link:not(.active) {
    background-color: rgba(0, 250, 0, 0.5);
}

.nav-pills .pill-3 .nav-link:not(.active) {
    background-color: rgba(0, 0, 250, 0.5);
    color: white;
}*/


/*----------------------------------------*/
/*CSS for ~Management/Settings
/*----------------------------------------*/
.control-label {
    display: normal;
    /*padding: .625rem .875rem;
       font-size: .8rem;*/
    line-height: 1.5;
    /*font-weight: 400;*/
    color: darkgrey;
    /*background: rgba(0, 0, 0, 0.075);*/
}

#SettingsWidth, .form-width {
    padding: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-header {
    margin: 0;
    margin-bottom: 10px !important;
    background: #3872af; /* Old browsers */
    background: -moz-linear-gradient(left, #3872af 0%, #1e5799 33%, #1e5799 67%, #3872af 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3872af 0%,#1e5799 33%,#1e5799 67%,#3872af 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3872af', endColorstr='#3872af',GradientType=1 ); /* IE6-9 */
    padding: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.24);
    color: #F4A24E !important;
}


/*----------------------------------------*/
/*CSS for ~Management/ClientDetails
/*----------------------------------------*/
#DetailsFormWidth .form-width {
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 1px #ddd;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/*----------------------------------------*/
/*CSS for ~Home/Contact
/*----------------------------------------*/

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
}

/*----------------------------------------*/
/*CSS for ~Order/Details*/
#deliveryStopDetailsTitle, #pickUpStopDetailsTitle {
    background-color: rgb(222, 226, 230);
    text-align: center;
    color: rgb(34, 91, 156);
    border-bottom: 1px solid rgb(193, 193, 193);
    border-top: 1px solid rgb(193, 193, 193);
    margin: 0px;
    padding: 5px;
    border-radius: 3px;
}

    #deliveryStopDetailsTitle:hover, #pickUpStopDetailsTitle:hover {
        background-color: rgb(39, 71, 143);
        color: rgb(222, 226, 230);
        cursor: pointer;
    }

.psd_tbl_row, .dsd_tbl_row {
    font-weight: bold;
}


#AnalyticsSection {
    background-color: whitesmoke;
}


/*----------------------------------------*/
/*CSS for ~Management/Reports
/*----------------------------------------*/
/*.btn-link {
    border-radius: 2px !important;
    box-shadow: 1px 4px 7px 0px rgba(99, 97, 97, 0.24);
    background-color: rgba(249, 173, 46, 0.75);
    color: rgba(39, 35, 29, 0.75);
    border-color: transparent !important;
}*/

.btn-link:hover {
    background-color: orange;
    ;
}

.btn-link {
    background-color: #FB8950;
    border-bottom: 0.25px solid lightgray;
    border-top: 0.25px solid lightgray;
    color: rgb(34, 91, 156);
    border-bottom: 1px solid rgb(193, 193, 193);
    border-top: 1px solid rgb(193, 193, 193);
    margin: 0px;
    padding: 5px;
    border-radius: 3px;
}

#deliveryStopDetailsTitle:hover, #pickUpStopDetailsTitle:hover {
    background-color: rgb(39, 71, 143);
    color: rgb(222, 226, 230);
    cursor: pointer;
}

.psd_tbl_row, .dsd_tbl_row {
    font-weight: bold;
}





/*----------------------------------------*/
/*CSS for sHARED/_Layout
/*----------------------------------------*/
/*.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}*/

#load {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    /*background: url("~/Content/images/loader2.gif") no-repeat center center rgba(0,0,0,0.25)*/
    background: url("https://www.creditmutuel.fr/cmne/fr/banques/webservices/nswr/images/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}

/*----------------------------------------*/
/*CSS for Order/index
/*----------------------------------------*/


#Search {
    float: left;
}

#RefreshPrint {
    float: right;
}
