﻿
@{
    ViewBag.Title = "Reports";
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(3) { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>
    <style>
    </style>

</head>

<div class="container" id="ReportsContainer">

    <center>
        <div class="col-md-8">
            <section class="form-width" id="ReportSection">
                <h4 class="form-header text-center"> Client Reports</h4>

                <div class="accordion" id="ReportAccordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Monthly Order History and Cost
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#ReportAccordion">
                            <div class="card-body">
                                View Order history per month along with the cost associated with each month for deliveries. 
                                <br />
                                <a class="btn btn-default" id="ReportUrl_ClientOrderHistory" href="@Url.Action("ClientReportTemplate", "Reports", new { ReportName = "Client Order History Report", ReportDescription = "Client Order History Report", Width = 100, Height = 800, Class="Client", CustNumber=User.Identity.Name.ToString() })">
                                    Open Report
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class=" btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                   Client Order Summary Report
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#ReportAccordion">
                            <div class="card-body">
                                This report is coming soon!
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>


    </center>

</div>


