﻿@model CEExpress_LOP.Models.SubmitNewOrderModel

@{
    ViewBag.Title = "SubmitNewOrder";
}

@ViewBag.Title

@*//<img class="prototype" src="~/Content/img/client/submitNewOrder.png" />
    //<img class="prototype" src="~/Content/img/client/orderConfirm.png" />
    //<img class="prototype" src="~/Content/img/client/orderPlacedSuccess.png" />*@


<head>
    @*Necessary*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<body>

    <div id="SubmitNewOrder">
        <form method="post" class="NewOrder" novalidate>
            @* row 1 *@
            <div class="row">
                <div class="col-md-1">
                    space
                </div>

                <div class="col-md-5">
                    column 1
                    @*all delivery contact info*@
                    <div id="DevContact">

                        @Html.Label("dCompany", "Company")
                        <input type="text" class="form-control" name="dCompany" id="dCompany" placeholder="" required />


                        @Html.Label("dContact", "Contact")
                        <input type="text" class="form-control" name="dContact" id="dContact" placeholder="" required />


                        @Html.Label("dAddress", "Address")
                        <input type="text" class="form-control" name="dAddress" id="dAddress" required />


                        @Html.Label("dCity", "City")
                        <input type="text" class="form-control" name="dCity" id="dCity" placeholder="" required />

                        <div class="row">
                            <div class="col-md-10">
                                @Html.Label("dPostal", "Postal Code")
                                <input type="text" class="form-control" name="dPostal" id="dPostal" required />
                            </div>
                            <div class="col-md-2">
                                @Html.Label("dProvice", "Province")
                                <select name="dProvince" id="dProvince" required>
                                    @*<option value="" >Select</option>*@
                                    <option value="ON">ON</option>
                                    <option value="BC">BC</option>
                                    <option value="MB">MB</option>
                                    <option value="QC"> QC</option>
                                    <option value="AB">AB</option>
                                    <option value="NS"> NS</option>
                                    <option value="NB">NB</option>
                                    <option value="PE">PE</option>
                                    <option value="SK">SK</option>
                                    <option value="NL">NL</option>
                                </select>
                            </div>
                        </div>
                        @Html.Label("dPhone", "Phone")
                        <input type="number" class="form-control" name="dPhone" id="dPhone" placeholder="(xxx)-xxx-xxxx" required />
                    </div>
                </div>

                <div class="col-md-5">
                    column 2
                    <div id="PickupContact">

                        @Html.Label("pCompany", "Company")
                        <input type="text" class="form-control" name="pCompany" id="pCompany" placeholder="" required />


                        @Html.Label("pContact", "Contact")
                        <input type="text" class="form-control" name="pContact" id="pContact" placeholder="" required />


                        @Html.Label("pAddress", "Address")
                        <input type="text" class="form-control" name="pAddress" id="pAddress" required />


                        @Html.Label("pCity", "City")
                        <input type="text" class="form-control" name="pCity" id="pCity" placeholder="" required />

                        <div class="row">
                            <div class="col-md-10">
                                <label for="pPostal"> Postal</label>
                                <input type="text" class="form-control" name="pPostal" id="pPostal" required />
                            </div>
                            <div class="col-md-2">
                                @Html.Label("pProvince", "Province")
                                <select name="pProvince" id="pProvince" required>
                                    @*<option value="" >Select</option>*@
                                    <option value="ON">ON</option>
                                    <option value="BC">BC</option>
                                    <option value="MB">MB</option>
                                    <option value="QC">QC</option>
                                    <option value="AB">AB</option>
                                    <option value="NS">NS</option>
                                    <option value="NB">NB</option>
                                    <option value="PE">PE</option>
                                    <option value="SK">SK</option>
                                    <option value="NL">NL</option>
                                </select>
                            </div>
                        </div>
                        @Html.Label("pPhone", "Phone")
                        <input type="number" class="form-control" name="pPhone" id="pPhone" placeholder="(xxx)-xxx-xxxx" required />
                    </div>
                </div>

                <div class="col-md-1">
                    space2
                </div>
            </div>

            @* rwo 2 *@
            <div class="row">
                <div class="col-md-1">
                    space1.2
                </div>


                <div class="col-md-2">
                    Column1.2
                    <div id="deliveryDetails">
                        delivery
                        <hr />
                        @Html.Label("numberOfPieces", "# of Pieces")
                        <input type="text" class="form-control" name="numberOfPieces" id="numberOfPieces" placeholder="00" required />

                        @Html.Label("totalWeight", "Total Weight")
                        <input type="text" class="form-control" name="totalWeight " id="totalweight" placeholder="0 " required />

                        @Html.Label("", "Ready Time")
                        @Html.Label("readyTime", "Now", new { @style = " background-color:grey;" })
                        <input type="checkbox" id="TimeReady" value="Now"> &nbsp; &nbsp;  @*place popper*@
                        <input type="date" name="readyTime " id="readyTime" />
                        <br />
                    </div>
                </div>

                <div class="col-md-2">
                    Column2.2
                    <div id="serviceType">
                        service type
                        <hr />
                        @Html.Label("serviceType", "Type of service")
                        <select name="serviceType" id="TypeSelect" required>
                            <option value="local">Local</option>
                            <option value="Rush">Rush</option>
                            <option value="5Ton">5Ton</option>
                            <option value="WhiteGlove2ManTeam">WhiteGlove2ManTeam</option>
                            <option value="FTL">FTL</option>
                        </select>

                        @Html.Label("", "Ready Time")
                        <label for="RoundTrip" style="background-color:#F0F1F7; font-size:14px; color:black;">Round Trip</label>
                        <input type="checkbox" id="RoundTrip" />
                    </div>

                </div>

                <div class="col-md-2">
                    Column3.2
                    <div id="packageType">
                        Package Type
                        <hr />

                        <label for="shipmentType" style="width:100%;">Shipment Type</label>
                        <select name="shipmentType" id="shipmentType" required>
                            <option value="Skid">Skid</option>
                            <option value="Crate">Crate</option>
                            <option value="OpenUntil">OpenUntil</option>
                            <option value="#OFHOURS">#OFHOURS</option>
                        </select>

                        <label for="truckType" style="width:100%;">Type of Truck</label>
                        <select id="truckType" required>
                            <option value="5Ton">5Ton</option>
                            <option value="53' Trailer">53' Trailer</option>
                            <option value="Van">Van</option>
                        </select>
                        <br />
                    </div>
                </div>

                <div class="col-md-2">
                    Column4.2
                    <div id="specialInstructions">
                        special Intructions
                        <hr />
                        <label for="Instructions" style="width:100%;"> Special Instructions</label>
                        <textarea rows="2" name="specialInstructions" id="Instructions"></textarea>
                        <br />
                        <div id="buttons" @*style="position:relative;  background-color:#11147f; color:white; padding:5px; border-radius:10px; "*@>
                            <input type="file" id="Attachment" value="Attachment" />
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    Column5.2
                    <div id="buttons" @*style="position:relative;  background-color:#11147f; color:white; padding:5px; border-radius:10px; "*@>

                        <input class="btn btn-primary" type="reset" id="Clear" value="clear" />
                        @*<input class="btn btn-primary" type="submit" id="Submit" value="Submit">*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModal">
                            SubmitTEST
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="submitModal">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Quick Check Before Submiting</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        Modal body..
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Go back?</button>
                                        <input  type="submit" class="btn btn-block" id="Submit" value="SubmitTEST">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-1">
                    space2.2
                </div>
            </div>

        </form>

    </div>

    @*These are the necessary for boostrap and jquery scripts*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: true)*@

</body>
