﻿@model CEExpress_LOP.Models.ReportSpecs

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>
<div class="container" id="ReportTemplateContainer">
    <center>
        <section class="form-width" id="TemplateSection">
            <h4 class="form-header text-center">  @Model.ReportDescription</h4>

            <iframe id="frmReport" src="@Model.ReportURL" frameborder="0" style="@String.Format("width:{0}%; height: {1}px;", Model.Width, Model.Height)" scrolling="no"></iframe>


        </section>
    </center>
</div>