﻿@model CEExpress_LOP.ViewModels.OrdersViewModel



<div class="cointainer">
    @* Pick Up *@
    <p><b>PickUp Stop</b></p>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.company, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_companyConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.name, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_nameConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.phone, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_phoneConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.address, htmlAttributes: new { @class = "control-label " })

                        </th>
                        <td>
                            <label id="p_addressConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.suite, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_suiteConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.country, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_countryConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.state, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_stateConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.city, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_cityConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.PickupStop.postal_code, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="p_postal_codeConf" value=""></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* Package INfo *@
    <p><b>Package Information</b></p>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.special_instructions, htmlAttributes: new { @class = "control-label" })
                        </th>
                        <td>
                            <label id="special_instructionsConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">

                            @Html.LabelFor(model => model.DeliverStop.service_type, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="service_typeConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.package, htmlAttributes: new { @class = "control-label " })

                        </th>
                        <td>
                            <label id="packageConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.number_of_pieces, htmlAttributes: new { @class = "control-label " })

                        </th>
                        <td>
                            <label id="number_of_piecesConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.weight, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="weightConf" value=""></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    @* Delivery *@
    <p><b>Delivery Stop</b></p>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.company, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_companyConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.name, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_nameConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.phone, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_phoneConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.address, htmlAttributes: new { @class = "control-label " })

                        </th>
                        <td>
                            <label id="d_addressConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.suite, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_suiteConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.country, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_countryConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.state, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_stateConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.city, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_cityConf" value=""></label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            @Html.LabelFor(model => model.DeliverStop.postal_code, htmlAttributes: new { @class = "control-label " })
                        </th>
                        <td>
                            <label id="d_postal_codeConf" value=""></label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




</div>






