﻿@model LOP_DatabaseModel.Model.DeliverStop


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<div>
   
    <hr />
        <table class="table table-responsive table-striped table-hover table-md table-bordered w-100 border-0 d-block d-md-table">
            @*<thead>
                <tr>
                    <th>Variable</th>
                    <th>Entry</th>
                </tr>
            </thead>*@
            <tbody>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.company)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.company)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.address)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.address)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.suite)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.suite)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.city)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.city)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.state)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.state)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.postal_code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.postal_code)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.country)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.country)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.name)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.phone)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.paper_waybill)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.paper_waybill)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.special_instructions)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.special_instructions)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.service_type)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.service_type)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.package)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.package)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.number_of_pieces)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.number_of_pieces)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.weight)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.weight)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.reference)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.reference)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.fuel_surcharge)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.fuel_surcharge)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.receive_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.receive_date)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.dispatch_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.dispatch_date)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.pickup_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.pickup_date)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.delivery_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.delivery_date)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.cancel_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.cancel_date)
                    </td>
                </tr>
                <tr>
                    <td class="dsd_tbl_row">
                        @Html.DisplayNameFor(model => model.confirm_date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.confirm_date)
                    </td>
                </tr>
                

            </tbody>
        </table>
    
</div>
