﻿@model CEExpress_LOP.ViewModels.OrdersViewModel

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.company, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.company, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.company, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.name, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.name, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.phone, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.phone, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.address, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.address, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.suite, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.suite, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.suite, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.country, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.country, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.country, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.state, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.state, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.state, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.city, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.city, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.city, "", new { @class = "text-danger" })

</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.postal_code, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.postal_code, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.postal_code, "", new { @class = "text-danger" })

</div>