﻿@model CEExpress_LOP.ViewModels.OrdersViewModel

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.special_instructions, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.special_instructions, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.special_instructions, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.service_type, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.service_type, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.service_type, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.package, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.package, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.package, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.number_of_pieces, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.number_of_pieces, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.number_of_pieces, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.weight, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.weight, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.weight, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.DeliverStop.reference, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.DeliverStop.reference, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.DeliverStop.reference, "", new { @class = "text-danger" })
</div>