﻿@model CEExpress_LOP.ViewModels.OrdersViewModel


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.company, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.TextBoxFor(model => model.PickupStop.company, new { @class = "form-control text-box single-line" })
    @Html.ValidationMessageFor(model => model.PickupStop.company, "", new { @class = "text-danger" })
    <i class="form-text text-danger"></i>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.name, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.name, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.phone, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.phone, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.phone, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.address, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.address, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.address, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.suite, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.suite, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.suite, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.country, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.country, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.country, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.state, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.state, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.state, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.city, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.city, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.city, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PickupStop.postal_code, htmlAttributes: new { @class = "control-label col-md-10" })
    @Html.EditorFor(model => model.PickupStop.postal_code, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.PickupStop.postal_code, "", new { @class = "text-danger" })
</div>