﻿@model LOP_DatabaseModel.Model.PickupStop

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>
  

<div>
    
    <hr />
        <table class="table table-responsive table-striped table-hover table-md table-bordered w-100 border-0 d-block d-md-table">
            @*<thead>
                <tr>
                    <th>Variable</th>
                    <th>Entry</th>
                </tr>
            </thead>*@
                
            <tbody>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.company)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.company)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.address)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.address)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.suite)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.suite)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.city)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.city)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.state)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.state)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.postal_code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.postal_code)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.country)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.country)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.name)
                    </td>
                </tr>
                <tr>
                    <td class="psd_tbl_row">
                        @Html.DisplayNameFor(model => model.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.phone)
                    </td>
                </tr>

            </tbody>
        </table>
</div>

