﻿@model LOP_DatabaseModel.Model.Order

@{
    ViewBag.Title = "Order Details";
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

<div class="container">
    @*<div class="container formHeaders">
            <h2>Details</h2>
        </div>*@


    <div class="container-fluid no-gutters indexCaption  form-header text-center mb-0">
        @*<caption>*@
        <h4 class="m-0">Details For Order: @Html.DisplayFor(model => model.order_number) </h4>
        @*</caption>*@
    </div>


    <div class="container justify-content-center p-0">

        <div class="row justify-content-center">
            <div class="col-md-11">
                @*Details Section*@
                <table class="table table-responsive table-hover table-md table-bordered w-auto">
                    <thead class="table-warning">
                        <tr>
                            <th >
                                @Html.DisplayNameFor(model => model.time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.customer_number)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.final_price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.status_date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ready_time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.deliver_by)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.status)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.time)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.customer_number)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.final_price)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.status_date)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ready_time)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.deliver_by)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.status)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h4 id="pickUpStopDetailsTitle" data-toggle="collapse" data-target="#pickUpStopDetails">PickupStop</h4>
        <div class="row justify-content-center collapse" id="pickUpStopDetails">
            <div class="col-md-8">

                @*PickUp Section*@
                @Html.Partial("_PickupStopDetails", Model.PickupStop)
            </div>
        </div>

        <h4 id="deliveryStopDetailsTitle" data-toggle="collapse" data-target="#deliveryStopDetails">DeliverStop</h4>
        <div class="row justify-content-center collapse" id="deliveryStopDetails">
            <div class="col-md-8">
                @*DeliveryStop Section*@
                @Html.Partial("_DeliverStopDetails", Model.DeliverStop)
            </div>
        </div>


        @*<div class="row justify-content-center">
                <div class="col-md-6">

                    @Html.Partial("_PickupStopDetails", Model.PickupStop)
                </div>
                <div class="col-md-6">

                    @Html.Partial("_DeliverStopDetails", Model.DeliverStop)
                </div>
            </div>*@
    </div>
    <div class="row justify-content-end m-0 p-0">
        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-info m-0 mb-2" })

    </div>
</div>
