﻿@model IEnumerable<LOP_DatabaseModel.Model.Order>

@{
    ViewBag.Title = "Index";
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');

    </script>


    <style>
       
    </style>
</head>

@*<div class="container">*@
    @*///the gutters dont go all the way do to the cointaner, though if cointainer has no gutters it falls to the left*@
    @*<div class="container-fluid formHeaders no-gutters">
        <div class="row no-gutters r">*@
            @*<div class="col-md-10">
             @*   <h3</h3>*@
          @*  </div>*@
            @*<div class="col-md-2">
                <p class="align-self-center">
                </p>
            </div>*@
        @*</div>*@
    @*</div>*@
<div class="container">

    <div class=" table-striped table-bordered table-hover">
        <div class="container-fluid no-gutters indexCaption  form-header text-center mb-0">
            @*<caption>*@
            <h4>Order History </h4>
            @*</caption>*@
        </div>
        <div class="row">
            <div class="col-md-6">
                @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
                {
                    <p>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = " Order Search Query" })
                        <input class="btn btn-default" type="submit" value="Search" />
                    </p>


                }
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-1">

                @Html.ActionLink("Refresh", "CheckOrderUpdates", null, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-1">

                <button class="btn btn-default hidden-print" onclick="window.print()"> Print</button>

            </div>
        </div>
        <table class="table">
            <thead class="table-warning">
                <tr>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.order_number).ToString(), "Index", new { sortRequest = ViewBag.OrderNumberSort, currentOrderFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.customer_number).ToString(), "Index", new { sortRequest = ViewBag.CustNumSort, currentOrderFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.cost_center).ToString(), "Index", new { sortRequest = ViewBag.CostCenterSort, currentOrderFilter = ViewBag.CurrentFilter })
                    </th>

                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.status_date).ToString(), "Index", new { sortRequest = ViewBag.StatusDateSort, currentOrderFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        @Html.ActionLink(Html.DisplayNameFor(model => model.status).ToString(), "Index", new { sortRequest = ViewBag.StatusSort, currentOrderFilter = ViewBag.CurrentFilter })
                    </th>
                </tr>
            </thead>

            @*tbody not neccessaey seems like its generated mvc*@
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.ActionLink(item.order_number.ToString(), "Details", new { id = item.orderId })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.customer_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cost_center)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.status_date)
                        </td>
                        <td>
                            @Html.ActionLink(item.status.ToString(), "Track", new { id = item.orderId })
                        </td>

                    </tr>

                }
            </tbody>
        </table>


    </div>
</div>