﻿@model CEExpress_LOP.ViewModels.OrdersViewModel

@{
    ViewBag.Title = "NewOrderView";
}


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>



<div class="container">
        
    <div class="row justify-content-center ">   
        

        <div class="col-md-6 bg-light p-4 rounded mt-3 form-width">
            <center>
                <h4 class="form-header text-center">New Order</h4>
            </center>
            <!--server respoense-->
            <h5 class="text-center text-light bg-success mb-2 p-2 rounded lead" id="result">
                Hello World!
            </h5>
            <!--progress bar-->
            <div id="progressBarBack " class="progress mb-2" style="height:40px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width:25%;" id="progressBar">
                    <b class="lead" id="progressText">Step-1</b>
                </div>
            </div>
            @using (Html.BeginForm(FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @*///the gutters dont go all the way do to the cointaner, though if cointainer has no gutters it falls to the left*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--firstpage-->
                <div id="first">
                    <!--cart steps-->
                    <div class="cart-steps">
                        <ul class="row">
                            <li class="cartStep1 col-sm-3 active">
                                <a @*class="cartStep1"*@ href="#"><span>1</span>Pick Up Information</a>
                            </li>
                            <li class="col-sm-3"><span>2</span>Package Information</li>
                            <li class="col-sm-3"><span>3</span>Delivery Information</li>
                            <li class="col-sm-3"><span>4</span>Summary</li>
                        </ul>
                    </div>

                    <h4 class="cartBar text-center bg-primary p-1 rounded text-light">Pick Up Information</h4>

                    <!--inputs-->
                    @Html.Partial("_PickUpStopNewOrder")

                    <!--cart buttons-->
                    <div class="row form-group justify-content-end">
                        <a class="btn btn-danger" id="next_1">Next</a>
                    </div>
                </div>

                <!--secondpage-->
                <div id="second">
                    <!--cart steps-->
                    <div class="cart-steps">
                        <ul class="row">
                            <li class="cartStep1 col-sm-3 active">
                                <a @*class="cartStep1"*@ href="#"><span>1</span>Pick Up Information</a>
                            </li>
                            <li class="cartStep2 col-sm-3 active">
                                <a @*class="cartStep2"*@ href="#"><span>2</span>Package Information</a>
                            </li>
                            <li class="col-sm-3"><span>3</span>Delivery Information</li>
                            <li class="col-sm-3"><span>4</span>Summary</li>
                        </ul>
                    </div>

                    <h4 class="cartBar text-center bg-primary p-1 rounded text-light">Package Information</h4>

                    <!--inputs-->
                    @Html.Partial("_PackageInfoNewOrder")

                    <!--cart buttons-->
                    <div class="row form-group justify-content-between">
                        <a class="btn btn-danger" id="previous_2">Previous</a>
                        <a class="btn btn-danger" id="next_2">Next</a>
                    </div>
                </div>

                <!--thirdpage-->
                <div id="third">
                    <!--cart steps-->
                    <div class="cart-steps">
                        <ul class="row">
                            <li class="cartStep1 col-sm-3 active">
                                <a @*class="cartStep1"*@ href="#"><span>1</span>Pick Up Information</a>
                            </li>
                            <li class="cartStep2 col-sm-3 active">
                                <a @*class="cartStep2"*@ href="#"><span>2</span>Package Information</a>
                            </li>
                            <li class="cartStep3 col-sm-3 active">
                                <a @*class="cartStep3"*@ href="#"><span>3</span>Delivery Information</a>
                            </li>
                            <li class="col-sm-3"><span>4</span>Summary</li>
                        </ul>
                    </div>

                    <h4 class="cartBar text-center bg-primary p-1 rounded text-light">Delivery Information</h4>

                    <!--inputs-->
                    @Html.Partial("_DeliverStopNewOrder")

                    <!--cart buttons-->
                    <div class="row form-group justify-content-between">
                        <a class="btn btn-danger" id="previous_3">Previous</a>
                        <a class="btn btn-danger" id="next_3">Next</a>
                    </div>
                </div>

                <!--fourthpage-->
                <div id="fourth">
                    <!--cart steps-->
                    <div class="cart-steps">
                        <ul class="row">
                            <li class="cartStep1 col-sm-3 active">
                                <a @*class="cartStep1"*@ href="#"><span>1</span>Pick Up Information</a>
                            </li>
                            <li class="cartStep2 col-sm-3 active">
                                <a @*class="cartStep2"*@ href="#"><span>2</span>Package Information</a>
                            </li>
                            <li class="cartStep3 col-sm-3 active">
                                <a @*class="cartStep3"*@ href="#"><span>3</span>Delivery information</a>
                            </li>
                            <li class="cartStep4 col-sm-3 active">
                                <a @*class="cartStep4"*@ href="#"><span>4</span>Summary</a>
                            </li>
                        </ul>
                    </div>

                    <h4 class="cartBar text-center bg-primary p-1 rounded text-light">Confirm Order</h4>

                    <!--inputs-->
                        @Html.Partial("_ConfirmationNewOrder")
                    <!--buttons-->
                    <div class="row form-group justify-content-between">
                        <a class="btn btn-danger" id="previous_4">Previous</a>
                        <input id="placeOrder" type="submit" value="Place Order" class="btn btn-warning" />
                    </div>
                    @*Buttons*@
                    @*<div class="form-group">
            <div class="col-md-12 justify-content-center">
                <input id="placeOrder" type="submit" value="Place Order" class="btn btn-warning btn-block" />
            </div>
        </div>*@
                </div>

            }

        </div>

    </div>
</div>





