﻿@model LOP_DatabaseModel.Model.DeliverStop

@{
    ViewBag.Title = "Track";
}


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>


<div>


</div>
<div class="container-fluid no-gutters">
    <div class="table-responsive table-striped table-bordered table-hover">

        <div class="container-fluid no-gutter0 mt-4">
            <div class="table-responsive table-bordered table-hover">
                <table class="table">

                    <thead>

                        <tr id="trackTableTitle" data-toggle="collapse" data-target="#uncollapseTrackTable">

                            <td class="p-0">
                                @*<h3>Tracking Details For Order: @Model.Order.order_number</h3>*@
                                <div class="container-fluid no-gutters indexCaption  form-header text-center mb-0">
                                    @*<caption>*@
                                    <h4>Tracking Details For Order: @Model.Order.order_number</h4>
                                    @*</caption>*@
                                </div>
                            </td>
                        </tr>

                    </thead>
                    <tbody>

                        <tr id="uncollapseTrackTable" class="">

                            <td>
                                <!--horizontal Track table-->
                                <div class="container-fluid no-gutters">
                                    <div class="row">
                                        <div class="col-md-1">
                                            &nbsp;

                                            @*   @Html.ActionLink("Back to Orders", "Index", null, new { @class = "btn btn-info m-0 mb-2" })*@
                                        </div>
                                        <div class="col-md-10">

                                            <div class="container-fluid no-gutters">
                                                <center>
                                                    <h5>Your Order Status Is Currently: @Model.Order.status</h5>


                                                    @{
                                                        switch (Model.Order.status)
                                                        {
                                                            case "New":
                                                                <p>Your order has been placed in the system and is currently being processed by the Dispatcher</p>
                                                                break;
                                                            case "Dispatched":
                                                                <p>Your order has been dispatched to a driver and is awaiting confirmation</p>
                                                                break;
                                                            case "Confirmed":
                                                                <p>The Driver has reviewed your order and has confirmed its details</p>
                                                                break;
                                                            case "PickedUp":
                                                                <p>The package has been picked up by the driver and has begin shipment</p>
                                                                break;
                                                            case "Delivered":
                                                                <p>The shipment package has been delivered to the destination</p>
                                                                break;
                                                            case "Completed":
                                                                <p>The order has been successfully fulfilled</p>
                                                                break;
                                                            case "Cancelled":
                                                                <p>This order has been cancelled</p>
                                                                break;
                                                            case "Undefined":
                                                                <p>There was an error in processing the status. Please contact C&amp;E Experss for further information</p>
                                                                break;

                                                            default:
                                                                <p>There was an error in processing the status. Please contact C&amp;E Experss for further information</p>
                                                                break;
                                                        }
                                                    }
                                                </center>


                                            </div>
                                        </div>



                                        <div class="col-md-1">
                                            <button class="btn btn-default hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>

                                        </div>
                                    </div>
                                    <div class="table-responsive table-striped table-bordered table-hover">
                                        <table class="table">
                                            <thead>
                                                @* no head *@
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.company)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.company)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.address)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.address)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.reference)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.reference)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        @Html.DisplayNameFor(model => model.distance)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.distance)
                                                    </td>
                                                </tr>


                                                @{
                                                    switch (Model.Order.status)
                                                    {

                                                        case "Cancelled":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.cancel_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.cancel_date)
                                                                </td>
                                                            </tr>
                                                            break;
                                                        case "Delivered":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.delivery_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.delivery_date)
                                                                </td>
                                                            </tr>
                                                            break;
                                                        case "PickedUp":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.pickup_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.pickup_date)
                                                                </td>
                                                            </tr>
                                                            break;
                                                        case "Confirmed":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.confirm_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.confirm_date)
                                                                </td>

                                                            </tr>
                                                            break;
                                                        case "Dispatched":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.dispatch_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.dispatch_date)
                                                                </td>
                                                            </tr>
                                                            break;
                                                        case "New":
                                                            <tr>
                                                                <th scope="row">
                                                                    @Html.DisplayNameFor(model => model.receive_date)
                                                                </th>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.receive_date)
                                                                </td>
                                                            </tr>
                                                            break;
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="row justify-content-end m-0 p-0">

            </div>
        </div>
    </div>
</div>



























<!--veritcal table-->
@*<div class="container-fluid no-gutters">




        <div class="container-fluid no-gutters">
        <div class="table-responsive table-striped table-bordered table-hover">
            <table class="table">
                <thead>
                    <tr id="trackTableTitle" data-toggle="collapse" data-target="#uncollapseTrackTable">
                        <td>TABLE TITLE</td>
                    </tr>
                </thead>
                <tbody>
                    <tr id="uncollapseTrackTable" class="collapse">
                        <td>
                            <!--goes here-->

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>















            <div class="table-responsive table-striped table-bordered table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">@Html.DisplayNameFor(model => model.company)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.address)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.package)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.number_of_pieces)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.weight)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.reference)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.signature)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.Order.status)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.distance)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.route_status_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.receive_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.dispatch_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.pickup_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.delivery_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.cancel_date)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model.confirm_date)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th >@Html.DisplayFor(model => model.company)</th>
                            <th >@Html.DisplayFor(model => model.address)</th>
                            <th >@Html.DisplayFor(model => model.package)</th>
                            <th >@Html.DisplayFor(model => model.number_of_pieces)</th>
                            <th >@Html.DisplayFor(model => model.weight)</th>
                            <th >@Html.DisplayFor(model => model.reference)</th>
                            <th >@Html.DisplayFor(model => model.signature)</th>
                            <th >@Html.DisplayFor(model => model.Order.status)</th>
                            <th >@Html.DisplayFor(model => model.distance)</th>
                            <th >@Html.DisplayFor(model => model.route_status_date)</th>
                            <th >@Html.DisplayFor(model => model.receive_date)</th>
                            <th >@Html.DisplayFor(model => model.dispatch_date)</th>
                            <th >@Html.DisplayFor(model => model.pickup_date)</th>
                            <th >@Html.DisplayFor(model => model.delivery_date)</th>
                            <th >@Html.DisplayFor(model => model.cancel_date)</th>
                            <th >@Html.DisplayFor(model => model.confirm_date)</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>*@
