﻿
@{
    ViewBag.Title = "Analytics";
}

<head>
   


    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>
</head>


<div class="container" id="AnalyticsContainer">
    <center>
        <section class="form-width" id="AnalyticsSection">

            <h4 class="form-header text-center">Dashboard</h4>



            <script>
                (function (w, d, s, g, js, fs) {
                    g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
                    js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
                    js.src = 'https://apis.google.com/js/platform.js';
                    fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
                }(window, document, 'script'));
            </script>


            <div class="row">
                <div class="col-3">
                    <div id="embed-api-auth-container"></div>

                    <div id="view-selector-container"></div>
                </div>
                
                <div class="col-9">
                    <div id="chart-container"></div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-8">
                    <div id="page-chart-container"></div>
                </div>
                <div class="col-4">

                    <div id="main-chart-container"></div><hr />
                    <div id="breakdown-chart-container"></div>

                </div>
            </div>


            <script>

                gapi.analytics.ready(function () {

                    /**
                     * Authorize the user immediately if the user has already granted access.
                     * If no access has been created, render an authorize button inside the
                     * element with the ID "embed-api-auth-container".
                     */
                    gapi.analytics.auth.authorize({
                        container: 'embed-api-auth-container',
                        clientid: '952766302740-8vv5t8ei8oosv1k6edtp337a71bhp1ih.apps.googleusercontent.com'
                    });


                    /**
                     * Create a new ViewSelector instance to be rendered inside of an
                     * element with the id "view-selector-container".
                     */
                    var viewSelector = new gapi.analytics.ViewSelector({
                        container: 'view-selector-container'
                    });

                    // Render the view selector to the page.
                    viewSelector.execute();


                    /**
                     * Create a new DataChart instance with the given query parameters
                     * and Google chart options. It will be rendered inside an element
                     * with the id "chart-container".
                     */
                    var dataChart = new gapi.analytics.googleCharts.DataChart({
                        query: {
                            metrics: 'ga:sessions',
                            dimensions: 'ga:date',
                            'start-date': '30daysAgo',
                            'end-date': 'yesterday'
                        },
                        chart: {
                            container: 'chart-container',
                            type: 'LINE',
                            options: {
                                width: '100%'
                            }
                        }
                    });



                    var pageChart = new gapi.analytics.googleCharts.DataChart({
                        query: {
                            dimensions: 'ga:pageTitle',
                            metrics: 'ga:pageviews,ga:avgTimeOnPage',
                            'start-date': '30daysAgo',
                            'end-date': 'today'

                        },
                        chart: {
                            type: 'TABLE',
                            container: 'page-chart-container',
                            options: {
                                width: '100%'
                            }
                        }
                    });



                    /**
              * Create a table chart showing top browsers for users to interact with.
              * Clicking on a row in the table will update a second timeline chart with
              * data from the selected browser.
              */
                    var mainChart = new gapi.analytics.googleCharts.DataChart({
                        query: {
                            'dimensions': 'ga:browser',
                            'metrics': 'ga:sessions',
                            'sort': '-ga:sessions',
                            'max-results': '6'
                        },
                        chart: {
                            type: 'TABLE',
                            container: 'main-chart-container',
                            options: {
                                width: '100%'
                            }
                        }
                    });


                    /**
                     * Create a timeline chart showing sessions over time for the browser the
                     * user selected in the main chart.
                     */
                    var breakdownChart = new gapi.analytics.googleCharts.DataChart({
                        query: {
                            'dimensions': 'ga:date',
                            'metrics': 'ga:sessions',
                            'start-date': '7daysAgo',
                            'end-date': 'yesterday'
                        },
                        chart: {
                            type: 'LINE',
                            container: 'breakdown-chart-container',
                            options: {
                                width: '100%'
                            }
                        }
                    });

                    /**
              * Store a refernce to the row click listener variable so it can be
              * removed later to prevent leaking memory when the chart instance is
              * replaced.
              */
                    var mainChartRowClickListener;


                    /**
              * Update both charts whenever the selected view changes.
              */
                    viewSelector.on('change', function (ids) {
                        var options = { query: { ids: ids } };

                        // Clean up any event listeners registered on the main chart before
                        // rendering a new one.
                        if (mainChartRowClickListener) {
                            google.visualization.events.removeListener(mainChartRowClickListener);
                        }

                        mainChart.set(options).execute();
                        breakdownChart.set(options);

                        // Only render the breakdown chart if a browser filter has been set.
                        if (breakdownChart.get().query.filters) breakdownChart.execute();
                    });


                    /**
                     * Each time the main chart is rendered, add an event listener to it so
                     * that when the user clicks on a row, the line chart is updated with
                     * the data from the browser in the clicked row.
                     */
                    mainChart.on('success', function (response) {

                        var chart = response.chart;
                        var dataTable = response.dataTable;

                        // Store a reference to this listener so it can be cleaned up later.
                        mainChartRowClickListener = google.visualization.events
                            .addListener(chart, 'select', function (event) {

                                // When you unselect a row, the "select" event still fires
                                // but the selection is empty. Ignore that case.
                                if (!chart.getSelection().length) return;

                                var row = chart.getSelection()[0].row;
                                var browser = dataTable.getValue(row, 0);
                                var options = {
                                    query: {
                                        filters: 'ga:browser==' + browser
                                    },
                                    chart: {
                                        options: {
                                            title: browser
                                        }
                                    }
                                };

                                breakdownChart.set(options).execute();
                            });
                    });


                    viewSelector.on('change', function (ids) {
                        pageChart.set({ query: { ids: ids } }).execute();
                    });



                    /**
                     * Render the dataChart on the page whenever a new view is selected.
                     */
                    viewSelector.on('change', function (ids) {
                        dataChart.set({ query: { ids: ids } }).execute();
                    });

                });
            </script>












            @*<script>
            (function (w, d, s, g, js, fs) {
                g = w.gapi || (w.gapi = {}); g.analytics = { q: [], ready: function (f) { this.q.push(f); } };
                js = d.createElement(s); fs = d.getElementsByTagName(s)[0];
                js.src = 'https://apis.google.com/js/platform.js';
                fs.parentNode.insertBefore(js, fs); js.onload = function () { g.load('analytics'); };
            }(window, document, 'script'));
        </script>

        <!-- This demo uses the Chart.js graphing library and Moment.js to do date
             formatting and manipulation. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

        <!-- Include the ViewSelector2 component script. -->
        <script src="/public/javascript/embed-api/components/view-selector2.js"></script>

        <!-- Include the DateRangeSelector component script. -->
        <script src="/public/javascript/embed-api/components/date-range-selector.js"></script>

        <!-- Include the ActiveUsers component script. -->
        <script src="/public/javascript/embed-api/components/active-users.js"></script>

        <!-- Include the CSS that styles the charts. -->
        <link rel="stylesheet" href="/public/css/chartjs-visualizations.css">

        <header>
            <div id="embed-api-auth-container"></div>
            <div id="view-selector-container"></div>
            <div id="view-name"></div>
            <div id="active-users-container"></div>
        </header>
        <div class="Chartjs">
            <h3>This Week vs Last Week (by sessions)</h3>
            <figure class="Chartjs-figure" id="chart-1-container"></figure>
            <ol class="Chartjs-legend" id="legend-1-container"></ol>
        </div>
        <div class="Chartjs">
            <h3>This Year vs Last Year (by users)</h3>
            <figure class="Chartjs-figure" id="chart-2-container"></figure>
            <ol class="Chartjs-legend" id="legend-2-container"></ol>
        </div>
        <div class="Chartjs">
            <h3>Top Browsers (by pageview)</h3>
            <figure class="Chartjs-figure" id="chart-3-container"></figure>
            <ol class="Chartjs-legend" id="legend-3-container"></ol>
        </div>
        <div class="Chartjs">
            <h3>Top Countries (by sessions)</h3>
            <figure class="Chartjs-figure" id="chart-4-container"></figure>
            <ol class="Chartjs-legend" id="legend-4-container"></ol>
        </div>



        <script>

            // == NOTE ==
            // This code uses ES6 promises. If you want to use this code in a browser
            // that doesn't supporting promises natively, you'll have to include a polyfill.

            gapi.analytics.ready(function () {

                /**
                 * Authorize the user immediately if the user has already granted access.
                 * If no access has been created, render an authorize button inside the
                 * element with the ID "embed-api-auth-container".
                 */
                gapi.analytics.auth.authorize({
                    container: 'embed-api-auth-container',
                    clientid: '952766302740-8vv5t8ei8oosv1k6edtp337a71bhp1ih.apps.googleusercontent.com'
                });


                /**
                 * Create a new ActiveUsers instance to be rendered inside of an
                 * element with the id "active-users-container" and poll for changes every
                 * five seconds.
                 */
                var activeUsers = new gapi.analytics.ext.ActiveUsers({
                    container: 'active-users-container',
                    pollingInterval: 5
                });


                /**
                 * Add CSS animation to visually show the when users come and go.
                 */
                activeUsers.once('success', function () {
                    var element = this.container.firstChild;
                    var timeout;

                    this.on('change', function (data) {
                        var element = this.container.firstChild;
                        var animationClass = data.delta > 0 ? 'is-increasing' : 'is-decreasing';
                        element.className += (' ' + animationClass);

                        clearTimeout(timeout);
                        timeout = setTimeout(function () {
                            element.className =
                                element.className.replace(/ is-(increasing|decreasing)/g, '');
                        }, 3000);
                    });
                });


                /**
                 * Create a new ViewSelector2 instance to be rendered inside of an
                 * element with the id "view-selector-container".
                 */
                var viewSelector = new gapi.analytics.ext.ViewSelector2({
                    container: 'view-selector-container',
                })
                    .execute();


                /**
                 * Update the activeUsers component, the Chartjs charts, and the dashboard
                 * title whenever the user changes the view.
                 */
                viewSelector.on('viewChange', function (data) {
                    var title = document.getElementById('view-name');
                    title.textContent = data.property.name + ' (' + data.view.name + ')';

                    // Start tracking active users for this view.
                    activeUsers.set(data).execute();

                    // Render all the of charts for this view.
                    renderWeekOverWeekChart(data.ids);
                    renderYearOverYearChart(data.ids);
                    renderTopBrowsersChart(data.ids);
                    renderTopCountriesChart(data.ids);
                });


                /**
                 * Draw the a chart.js line chart with data from the specified view that
                 * overlays session data for the current week over session data for the
                 * previous week.
                 */
                function renderWeekOverWeekChart(ids) {

                    // Adjust `now` to experiment with different days, for testing only...
                    var now = moment(); // .subtract(3, 'day');

                    var thisWeek = query({
                        'ids': ids,
                        'dimensions': 'ga:date,ga:nthDay',
                        'metrics': 'ga:sessions',
                        'start-date': moment(now).subtract(1, 'day').day(0).format('YYYY-MM-DD'),
                        'end-date': moment(now).format('YYYY-MM-DD')
                    });

                    var lastWeek = query({
                        'ids': ids,
                        'dimensions': 'ga:date,ga:nthDay',
                        'metrics': 'ga:sessions',
                        'start-date': moment(now).subtract(1, 'day').day(0).subtract(1, 'week')
                            .format('YYYY-MM-DD'),
                        'end-date': moment(now).subtract(1, 'day').day(6).subtract(1, 'week')
                            .format('YYYY-MM-DD')
                    });

                    Promise.all([thisWeek, lastWeek]).then(function (results) {

                        var data1 = results[0].rows.map(function (row) { return +row[2]; });
                        var data2 = results[1].rows.map(function (row) { return +row[2]; });
                        var labels = results[1].rows.map(function (row) { return +row[0]; });

                        labels = labels.map(function (label) {
                            return moment(label, 'YYYYMMDD').format('ddd');
                        });

                        var data = {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Last Week',
                                    fillColor: 'rgba(220,220,220,0.5)',
                                    strokeColor: 'rgba(220,220,220,1)',
                                    pointColor: 'rgba(220,220,220,1)',
                                    pointStrokeColor: '#fff',
                                    data: data2
                                },
                                {
                                    label: 'This Week',
                                    fillColor: 'rgba(151,187,205,0.5)',
                                    strokeColor: 'rgba(151,187,205,1)',
                                    pointColor: 'rgba(151,187,205,1)',
                                    pointStrokeColor: '#fff',
                                    data: data1
                                }
                            ]
                        };

                        new Chart(makeCanvas('chart-1-container')).Line(data);
                        generateLegend('legend-1-container', data.datasets);
                    });
                }


                /**
                 * Draw the a chart.js bar chart with data from the specified view that
                 * overlays session data for the current year over session data for the
                 * previous year, grouped by month.
                 */
                function renderYearOverYearChart(ids) {

                    // Adjust `now` to experiment with different days, for testing only...
                    var now = moment(); // .subtract(3, 'day');

                    var thisYear = query({
                        'ids': ids,
                        'dimensions': 'ga:month,ga:nthMonth',
                        'metrics': 'ga:users',
                        'start-date': moment(now).date(1).month(0).format('YYYY-MM-DD'),
                        'end-date': moment(now).format('YYYY-MM-DD')
                    });

                    var lastYear = query({
                        'ids': ids,
                        'dimensions': 'ga:month,ga:nthMonth',
                        'metrics': 'ga:users',
                        'start-date': moment(now).subtract(1, 'year').date(1).month(0)
                            .format('YYYY-MM-DD'),
                        'end-date': moment(now).date(1).month(0).subtract(1, 'day')
                            .format('YYYY-MM-DD')
                    });

                    Promise.all([thisYear, lastYear]).then(function (results) {
                        var data1 = results[0].rows.map(function (row) { return +row[2]; });
                        var data2 = results[1].rows.map(function (row) { return +row[2]; });
                        var labels = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                            'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

                        // Ensure the data arrays are at least as long as the labels array.
                        // Chart.js bar charts don't (yet) accept sparse datasets.
                        for (var i = 0, len = labels.length; i < len; i++) {
                            if (data1[i] === undefined) data1[i] = null;
                            if (data2[i] === undefined) data2[i] = null;
                        }

                        var data = {
                            labels: labels,
                            datasets: [
                                {
                                    label: 'Last Year',
                                    fillColor: 'rgba(220,220,220,0.5)',
                                    strokeColor: 'rgba(220,220,220,1)',
                                    data: data2
                                },
                                {
                                    label: 'This Year',
                                    fillColor: 'rgba(151,187,205,0.5)',
                                    strokeColor: 'rgba(151,187,205,1)',
                                    data: data1
                                }
                            ]
                        };

                        new Chart(makeCanvas('chart-2-container')).Bar(data);
                        generateLegend('legend-2-container', data.datasets);
                    })
                        .catch(function (err) {
                            console.error(err.stack);
                        });
                }


                /**
                 * Draw the a chart.js doughnut chart with data from the specified view that
                 * show the top 5 browsers over the past seven days.
                 */
                function renderTopBrowsersChart(ids) {

                    query({
                        'ids': ids,
                        'dimensions': 'ga:browser',
                        'metrics': 'ga:pageviews',
                        'sort': '-ga:pageviews',
                        'max-results': 5
                    })
                        .then(function (response) {

                            var data = [];
                            var colors = ['#4D5360', '#949FB1', '#D4CCC5', '#E2EAE9', '#F7464A'];

                            response.rows.forEach(function (row, i) {
                                data.push({ value: +row[1], color: colors[i], label: row[0] });
                            });

                            new Chart(makeCanvas('chart-3-container')).Doughnut(data);
                            generateLegend('legend-3-container', data);
                        });
                }


                /**
                 * Draw the a chart.js doughnut chart with data from the specified view that
                 * compares sessions from mobile, desktop, and tablet over the past seven
                 * days.
                 */
                function renderTopCountriesChart(ids) {
                    query({
                        'ids': ids,
                        'dimensions': 'ga:country',
                        'metrics': 'ga:sessions',
                        'sort': '-ga:sessions',
                        'max-results': 5
                    })
                        .then(function (response) {

                            var data = [];
                            var colors = ['#4D5360', '#949FB1', '#D4CCC5', '#E2EAE9', '#F7464A'];

                            response.rows.forEach(function (row, i) {
                                data.push({
                                    label: row[0],
                                    value: +row[1],
                                    color: colors[i]
                                });
                            });

                            new Chart(makeCanvas('chart-4-container')).Doughnut(data);
                            generateLegend('legend-4-container', data);
                        });
                }


                /**
                 * Extend the Embed APIs `gapi.analytics.report.Data` component to
                 * return a promise the is fulfilled with the value returned by the API.
                 * {Object} params The request parameters.
                 * {Promise} A promise.
                 */
                function query(params) {
                    return new Promise(function (resolve, reject) {
                        var data = new gapi.analytics.report.Data({ query: params });
                        data.once('success', function (response) { resolve(response); })
                            .once('error', function (response) { reject(response); })
                            .execute();
                    });
                }


                /**
                 * Create a new canvas inside the specified element. Set it to be the width
                 * and height of its container.
                 * {string} id The id attribute of the element to host the canvas.
                 * {RenderingContext} The 2D canvas context.
                 */
                function makeCanvas(id) {
                    var container = document.getElementById(id);
                    var canvas = document.createElement('canvas');
                    var ctx = canvas.getContext('2d');

                    container.innerHTML = '';
                    canvas.width = container.offsetWidth;
                    canvas.height = container.offsetHeight;
                    container.appendChild(canvas);

                    return ctx;
                }


                /**
                 * Create a visual legend inside the specified element based off of a
                 * Chart.js dataset.
                 * {string} id The id attribute of the element to host the legend.
                 * {Array.<Object>} items A list of labels and colors for the legend.
                 */
                function generateLegend(id, items) {
                    var legend = document.getElementById(id);
                    legend.innerHTML = items.map(function (item) {
                        var color = item.color || item.fillColor;
                        var label = item.label;
                        return '<li><i style="background:' + color + '"></i>' +
                            escapeHtml(label) + '</li>';
                    }).join('');
                }


                // Set some global Chart.js defaults.
                Chart.defaults.global.animationSteps = 60;
                Chart.defaults.global.animationEasing = 'easeInOutQuart';
                Chart.defaults.global.responsive = true;
                Chart.defaults.global.maintainAspectRatio = false;


                /**
                 * Escapes a potentially unsafe HTML string.
                 * {string} str An string that may contain HTML entities.
                 * {string} The HTML-escaped string.
                 */
                function escapeHtml(str) {
                    var div = document.createElement('div');
                    div.appendChild(document.createTextNode(str));
                    return div.innerHTML;
                }

            });
        </script>*@
        </section>
    </center>
</div>
