﻿@model IEnumerable<CEExpress_LOP.Models.ApplicationUser>
@{
    ViewBag.Title = "Client Information";
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>
</head>



<style>
    
</style>
<div class="container">
    @*<h4 class="form-header text-center">Management - Client Details</h4>*@
    <div class="col-11 m-auto">

        <div class="row">
            <div class="col-8"></div>
            <div class="col-4" style="">
            </div>
        </div>
        <form class="form-width" id="DetailsFormWidth">


            <i><b>@ViewData["register"]</b></i>

            @{
                if (@ViewData["error"] != null)
                {
                    <b>@ViewData["error"]</b>
                }
                else
                {
                    <h4 class="form-header text-center">Registered Clients</h4>
                    <div class="row">

                        <div class="col-md-2">
                            @Html.ActionLink("Register New Client", "Register", "Account", null, new { @class = "btn-default, btn" })
                        </div>

                        <div class="col-md-9">&nbsp;</div>
                        <div class="col-md-1">
                            <button class="btn btn-default hidden-print" onclick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
                        </div>
                        </div>
                    @*<center><b class="text-center">These are clients which are registered to the portal:</b></center>*@
                    Html.RenderPartial("_ClientList", Model);
                    <hr />
                }
            }
        </form>
    </div>
</div>
