﻿@using Microsoft.AspNet.Identity

@{
    //ViewBag.Title = "Home";
    var managementUser = User.Identity.GetUserName();
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

    </head>

    @*<h2>Home</h2>*@




@*<div class="row">
        <div class="col-md-1">
            space
        </div>

        <div class="col-md-2 a-1">
            @Html.ActionLink("Portal Settings", "Settings")
        </div>
        <div class="col-md-2 a-2">
            @Html.ActionLink("Client Details", "ClientDetails")
        </div>
        <div class="col-md-2 a-3">
            @Html.ActionLink("Management Reports", "Reports")
        </div>
        <div class="col-md-2 a-4">
            @Html.ActionLink("System Analytics", "Analytics")
        </div>

        <div class="col-md-1">
            space
        </div>
    </div>*@



@*<div class="row justify-content-center">
        <div class="col-md-1">
            space
        </div>
        <div class="col-md-10">
            <div class="element-1">Check and change API Settings for Digital Waybill</div>
            <div class="element-2">This is where the text description will go2</div>
            <div class="element-3">This is where the text description will go3</div>
            <div class="element-4">This is where the text description will go4</div>
        </div>
        <div class="col-md-1">
            space
        </div>
    </div>*@



<div class="col-md-8 m-auto pt-4" >
    
    <div id="RegisterFormWidth">
        <center>
            <h4 class="form-header text-center" id="formheader">@managementUser Home</h4>

            <i>
            <b></b>
            </i>

            <p>Here you can access quick actions and options to manage the application</p>

            <div class="container">
                <!--Option Menu Pills-->
                <ul class="nav nav-pills nav-fill justify-content-center m-2">
                    <li class="nav-item a-1 p-1">
                        @Html.ActionLink("Portal Settings", "Settings", null, new { @class = "nav-link", id = "a1" })
                    </li>
                    <li class="nav-item a-2 p-1">
                        @Html.ActionLink("Client Details", "ClientDetails", null, new { @class = "nav-link", id = "a2" })
                    </li>
                    <li class="nav-item a-3 p-1">
                        @Html.ActionLink("Management Reports", "Reports", null, new { @class = "nav-link", id = "a3" })
                    </li>
                    <li class="nav-item a-4 p-1">
                        @Html.ActionLink("System Analytics", "Analytics", null, new { @class = "nav-link", id = "a4" })
                    </li>
                </ul>

                <!--text displayed accordingly-->
                <div class="homeText row justify-content-center m-3 p-4">
                    <div class="col-md-10">
                        <div class="element-1"><b>Check and change API Settings for Digital Waybill</b></div>
                        <div class="element-2"><b>Check, Edit, and Delete Client Information.</b></div>
                        <div class="element-3"><b>View and Print Reports</b></div>
                        <div class="element-4"><b>Check C&amp;E Express' Traffic-Data.</b></div>
                    </div>
                </div>

            </div>



        </center>

    </div>


</div>




@*<hr />
        @Html.ActionLink("Portal Settings", "Settings") <br />
        @Html.ActionLink("Client Details", "ClientDetails") <br />
        @Html.ActionLink("Management Reports", "Reports")<br />
        @Html.ActionLink("System Analytics", "Analytics")<br />
    <hr />*@
