﻿
@{
    ViewBag.Title = "Portal Settings";
}


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>

@*<h2>Management - System Settings Page</h2>*@



<div class="row" style="border-color: red; background-color:#f0f1f7;">


    <div class="col-lg-2"></div>
    <div class="col-lg-8">

            <div class="container" id="">
                <section class="form-width" id="">
                    <center>

                        <h4 class="form-header text-center" id="#">Digital Waybill API Set-up</h4>
                        <h5 style="color:red;" class="text-center" id="SettingsWarning">WARNING!</h5>
                        <center> <b class="text-center" style="color:orangered;"> Misconfiguration of these options can lead to functional issues in the portal. Updating these settings will cause the system to briefly reload.</b></center>
                        <hr />


                        <h5 class="text-center">Use this page to configure API access to Digital Waybill's services</h5>
                        <p class="text-center">Please ensure that these options are correctly configured as found form the Digital Waybill API and courier screens.</p>




                        @using (Html.BeginForm("UpdateSettings", "Management", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <label class="control-label"> Courier ID: </label>
                            </div>
                            @*<div class="col-md-1"></div>*@
                            <div class="col-md-5">

                                <input required id="cid" name="cid" value="@ViewBag.cid" placeholder=" Courrier ID: " /> <br />
                            </div>
                                <div class="col-md-2"></div>

                        </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-2">
                                    <label class="control-label"> API Key: </label>
                                </div>
                                <div class="col-md-5">

                                    <input id="apikey" name="apikey" value="@ViewBag.apikey" placeholder="Remote Panel API Key:" /><br />
                                </div>
                                <div class="col-md-2"></div>

                                @*<div class="col-md-1"></div>*@
                            </div>

                            <center>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <br />
                                        <input type="submit" class="btn btn-default" value="Update Setting Values" />
                                    </div>
                                </div>
                            </center>
                        }
                        <i>@ViewBag.status</i>
                    </center>

                </section>
            </div>

    </div>
    <div class="col-lg-2"></div>
</div>