﻿@using CEExpress_LOP.ViewModels;
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}


<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');

        function ShowPDF() {
            window.open("/Content/Registration.pdf", "_blank");
        };

    </script>

</head>

<style>
</style>


<div class="row" style="border-color: red; background-color:#f0f1f7;">
    <div class="col-lg-1"> </div>



    <div class="col-lg-5">
        <div class="container" id="LoginContainer">
            <center>
                <section class="form-width" id="LoginFormWidth">

                    @* Login Form *@
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="form-header text-center" id="LoginFormHeader">Please Log In Below:</h4>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Account Number" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <center>
                            <div class="row" id="LoginRow">
                                <div class="col-md-5"> &nbsp;</div>
                                <div class="col-md-2">
                                    <input type="submit" value="Log in" class="btn btn-default" />
                                </div>
                                
                                <div class="col-md-5">&nbsp;</div>
                            </div>
                            <div class="form-group"></div>
                        </center>

                    }

                </section>
            </center>
        </div>

    </div>
    @* Sign up prompt *@
    <div class="col-lg-5">
        <div class="container" id="SignUpContainer">
            <center>
                <form role="form" class="form-width" id="SignUpFormWidth">

                    <h4 class="form-header" id="SignUpHeader">Thinking of Signing up? Here's how</h4>
                    <hr />
                    <div class="col-md-10">
                        <h6>
                            To sign up, Download the PDF file given below and follow all the steps. Once all the steps are completed, C&E Express will set up your account and provide you with your Username and you will be elligible to put in orders!
                        </h6>
                    </div>
                    <div class="form-group">
                        <center>
                            <br />
                            <input type="button" value="Download PDF" class="btn btn-default" id="PDFButton" onclick="ShowPDF()" />
                        </center>
                    </div>
                </form>
            </center>
        </div>
        <div class="col-lg-1"></div>

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

