﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title - C&amp;E Express - Capstone</title>


    @*Necessary*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    @Html.Partial("_NavigationBar")


    @*Necessary for rendering body*@
    @RenderBody()


    @*Necessary for bootstrap (javascript,jquery,css)*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
        
    @RenderSection("scripts", required: false)

</body>
    
</html>