﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline mr-auto my-auto " }))


    {
        @Html.AntiForgeryToken()
        <li class="nav-item">
            @if (User.IsInRole("Management"))
            {
                @Html.ActionLink(User.Identity.GetUserName(), "Home", "Management", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            }
            else
            {
                @Html.ActionLink(User.Identity.GetUserName(), "Reports", "Client", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            }
        </li>
        <li class="nav-item">
            @Html.ActionLink("LogOff", "Account", "", new { id = "logoutForm", href = "javascript:document.getElementById('logoutForm').submit()", @class = "nav-link" })
        </li>
    }
    }
    else
    {
<li class="nav-item">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })
    </li>
}
