﻿@using CEExpress_LOP.Utilities
@*NAVBAR*@


<!--for resizing-->
<span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>

<span></span>
<nav id="mainNav" class="navbar navbar-expand-md sticky-top .navbar-default navbar-custom">

    <!-- Brand/logo -->
    @*<a class="navbar-brand" href="#">C&E Express  </a>*@
    <img id="logo" class="navbar-brand" src="~/Content/images/CELogo.png" alt="logo">
    <!-- Toggle for smaller screens -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {

                <li class="nav-item @Html.IsActive("Home", "Index")">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                if (User.IsInRole("Management"))
                {
                    <li class="nav-item @Html.IsActive("Orders", "Index")">
                        @Html.ActionLink("Client Orders", "Index", "Orders", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("Account", "Register")">
                        @Html.ActionLink("Add Client", "Register", "Account", null, new { @class = "nav-link", @attribute = "color:red" })
                    </li>

                    <li class="nav-item @Html.IsActive("Management", "Analytics")">
                        @Html.ActionLink("Analytics", "Analytics", "Management", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("Management", "Reports")">
                        @Html.ActionLink("Reports", "Reports", "Management", null, new { @class = "nav-link" })
                    </li>

                   




                }
                else
                {
                    <li class="nav-item @Html.IsActive("Orders", "Index")">
                        @Html.ActionLink("Your Orders", "Index", "Orders", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("Home", "Contact")">
                        @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item @Html.IsActive("Orders", "NewOrderView")">
                        @Html.ActionLink("Place an Order", "NewOrderView", "Orders", null, new { @class = "nav-link" })
                    </li>

                }
            }
            else
            {
                <li class="nav-item  @Html.IsActive("Home", "Index")">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item  @Html.IsActive("Home", "Contact")">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                </li>

            }


        </ul>

        <!--log in log out section-->
        <ul class="navbar-nav navbar-right ml-auto">
            @Html.Partial("_LoginPartial")
        </ul>

        <!--scroll page indicator-->
        <div class="progress-bar navProgress" id="myBar"></div>

    </div>

</nav>



