﻿@{
    ViewBag.Title = "About C&E Express Capstone- GreyCodeGroup";
}

<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>
</head>

    <h2>The Grey Code Group</h2>

    <p>
        This is the capstone prototype designed for our clients at C&E Express, Canada, developed by the Grey Code Group
        The purpose of the project is to make it easier for the customers to use C&E Express' website and make it more intuitive and making it all seamless for our clients who are having issues doing the same manually


    </p>
