﻿<head>

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>
    </head>

    <style>
        #map {
            width: 100%;
            height: 200px;
            background-color: grey;
        }
    </style>
    <script>

<div class="container">
    <div class="col-md-7 m-auto">
        <form role="form" class="form-width">
            @*<h4 class="form-header text-center">Contact</h4>*@
            <div class="mb-3" id="map">
                <script>
                    // Initialize and add the map
                    function initMap() {
                        // The location of Uluru
                        var uluru = { lat: 43.7300388, lng: -79.8001482 };
                        // The map, centered at Uluru
                        var map = new google.maps.Map(
                            document.getElementById('map'), { zoom: 10, center: uluru });   
                        // The marker, positioned at Uluru
                        var marker = new google.maps.Marker({ position: uluru, map: map });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdpTBLQ6Az3HKI32rVfSQofobrRmbJ16I&callback=initMap">
                </script>
            </div>

            <div class="row">
                <div class="text-center i-am-centered col-sm-6 ">
                    <br />
                    <img src="~/Content/images/CELogo.png" />

                </div>
                <div class="text-left col-sm-6">
                    <h4>Contact</h4><hr>
                    <address>
                        <strong>Mailing Address:</strong>

                            C&E Express
                            <br>
                            PO Box 875 Maple, Maple ON L6A 1S8
                            <br />
                            <strong>Office line:</strong> 1-888-495-7934

                            <br /><strong>Fax:</strong> 1-888-547-6197

                    </address>
                </div>
            </div>
            @*<div class="row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Name">
                        <i class="fa fa-user iconalign"></i>
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" placeholder="E-Mail">
                        <i class="fa fa-envelope iconalign"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <select name="subject" class="form-control" style="padding-left:10px !important">
                            <option value="">Subject</option>
                            <option>Faulty Product</option>
                            <option>Return Product</option>
                            <option>Payment issues</option>
                            <option>Account-Password issues</option>
                            <option>Add more...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="min-height:150px">
                    <textarea class="form-control" style="min-height:150px; max-height:150px" placeholder="Message"></textarea>

                    <i class="fa fa-comments iconalign" style="position: relative; top:-150px;"></i>
                </div>
                <div class="form-group">
                    <input type="file" class="file">
                    <div class="input-group">
                        <input type="text" class="form-control" style="background: white;" disabled="disabled" placeholder="Upload File">
                        <span class="input-group-btn">
                            <button class="browse btn btn-browse" type="button">Browse</button>
                        </span>
                    </div>
                    <i class="fa fa-file iconalign"></i>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-default col-md-3" type="submit">Send</button>
                </div>*@
        </form>
    </div>
</div>