﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/Content/icons/css/all.css" / >

    <!--google tracking code for analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128479113-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-128479113-2');
    </script>

</head>
<!--LANDING PAGE-->
<!--top of page with carosel-->
<header>
    <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-slider" data-slide-to="1"></li>
                <li data-target="#carousel-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="item transbox active">

                        <img class="d-block w-100" src="~/Content/images/home_banner_2.jpg" alt="">
                        <div class="carousel-caption">
                            <h2 class="fadeInUp wow" data-sppb-wow-delay="0.8s">
                                C & E Express
                            </h2>
                            <h3 class="fadeInUp wow" data-sppb-wow-delay="1.2s">Known for White glove handling and expedited services</h3>
                            @*<a class="btn-lg fadeInUp wow" data-sppb-wow-delay="1.4s" href="#">
                                    <i class="fa fa-download">
                                    </i>
                                    Purchase
                                </a>*@
                            <p>

                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="item transbox active">

                        <img class="d-block w-100" src="~/Content/images/homebanner3.1.jpg" alt="">
                        <div class="carousel-caption">
                            <h2 class="fadeInUp wow" data-sppb-wow-delay="0.8s">
                               Amazingly fast Delivery   
                            </h2>
                            <h3 class="fadeInUp wow" data-sppb-wow-delay="1.2s">
                                C&E Express takes your business further, and gets goods to market faster
                            </h3>
                            @*<a class=" btn-lg btn-common fadeInUp wow" data-sppb-wow-delay="1.4s" href="#">
                                    <i class="fa fa-coffee">
                                    </i>
                                    Learn More
                                </a>*@

                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="~/Content/images/HomeBanner5.jpg" alt="">
                    <div class="carousel-caption">
                        <h2 class="fadeInUp wow" data-sppb-wow-delay="0.8s">
                            Refreshing Cool Design
                        </h2>
                        <h3 class="fadeInUp wow" data-sppb-wow-delay="1.2s">
                            C&E Express's new Web Design allows you to book your delivery right from the Website!
                        </h3>
                        @*<a class=" btn-lg btn-common fadeInUp wow" data-sppb-wow-delay="1.4s" href="#">
                                <i class="fa fa-download">
                                </i>
                                Download
                            </a>*@

                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    </div>
</header>

<!--Welcome Section-->
<section id="welcomeSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </div>
                    <center>
                        <h2 style="color:#161A80"><span id="HeaderFont"><i class="fa fa-truck-moving"></span></i> WELCOME TO <span>  C&E EXPRESS</span></h2>
                    </center>
                    <p class="lead text-center">
                        Whether you’re simply sending a shipment across town or completely overhauling your supply chain, C&E express offers the solutions you need, with a single source of accountability
                    </p>

                    <p class="lead text-center ">
                        The web is just one more way to access what’s most important – our people. They are fully trained to handle every shipment with the professionalism you would expect from an industry leader. At the same time, they are equally committed to delivering the unique personal touch.
                    </p>
                </div>
            </div>
            @*<div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>Bootstrap 4 Ready</h3>
                        <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Easy to Use</h3>
                        <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
                    </div>
                </div>*@
        </div>
    </div>
</section>

<!--Service Section-->
<section id="serviceSection">
    <div class="container">
        <center>
            <h3 class="section-title wow fadeIn animated animated" data-wow-delay=".2s" style="visibility: visible;-webkit-animation-delay: .2s; -moz-animation-delay: .2s; animation-delay: .2s;">
                Why Choose Us <i class="fa fa-question-circle"></i>

            </h3>

            @*<h6 class="section-subcontent">Here are some of the reasons why C&E Express is better than it's competitors<br> </h6>*@
        </center><div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">

                <div class="service-item wow fadeInUpQuick animated animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">
                    <div class="icon-wrapper">
                        <i class="icon-layers pulse-shrink">
                        </i>
                    </div>
                    <h5>
                        Unmatched Customer Service <i class="fa fa-"></i>
                    </h5>
                    <p>
                        Customer Service Center 24 Hours a day - 7 days a week with a live voice!
                    </p>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">

                <div class="service-item wow fadeInUpQuick animated animated" data-wow-delay=".6s" style="visibility: visible;-webkit-animation-delay: .6s; -moz-animation-delay: .6s; animation-delay: .6s;">
                    <div class="icon-wrapper">
                        <i class="icon-settings pulse-shrink">
                        </i>
                    </div>
                    <h5>
                        Ship it how you want to
                    </h5>
                    <p>
                        Flexibility--Air freight, expedited truck, both cargo vans. and straight trucks, and two man team truck services.
                    </p>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">

                <div class="service-item wow fadeInUpQuick animated animated" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
                    <div class="icon-wrapper">
                        <i class="icon-energy pulse-shrink">
                        </i>
                    </div>
                    <h5>
                        Ship where you want
                    </h5>
                    <p>
                        Be it Across town, across the Province, across the country, we have it covered
                    </p>
                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xs-12">

                <div class="service-item  wow fadeInUpQuick animated animated" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">
                    <div class="icon-wrapper">
                        <i class="icon-cup pulse-shrink">
                        </i>
                    </div>
                    <h5>
                        Personalized Service
                    </h5>
                    <p>
                        No voicemails, but Live voices.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Contact-->
<section>
    <div class="container">
        <div class="row section" id="rowsection">

            <div class="footer-widget col-md-6 col-lg-3 col-xs-12">
                <center>
                    <h2><i class="fa fa-truck"> </i></h2>
                    <h4 class="small-title">
                        About Us
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </h4>
                </center>
                <div class="row">
                    <p>
                        C&E Express takes your business further, and gets your goods to market faster
                    </p>
                </div>
            </div>
            <div class="footer-widget col-md-6 col-lg-4 col-xs-12">
                <center>
                    <h2> <i class="fa fa-address-book"></i></h2>
                    <h4 class="small-title">
                        Contact C&E Express
                    </h4>
                </center>
                <div class="row">
                    <ul class="mb-3">
                        <content> <i class="fa fa-address-card"></i> PO Box 875 Maple, Maple ON L6A 1S8 </content>
                        <content><i class="fa fa-phone"></i>1-888-495-7934   </content>
                        <br />
                        <content>  <i class="fa fa-phone"></i>+68 32-543-876 </content>
                    </ul>
                </div>
            </div>

            <div class="footer-widget col-md-5 col-lg-5 col-xs-12">
                <center>
                    <h2><i class="fa fa-mail-bulk"></i></h2>
                    <h4 class="small-title">
                        Contact C&E Departmental Issues
                    </h4>
                </center>
                <div class="row">
                    <div class="footer-widget col-md-6 col-lg-6 col-xs-12">


                        <b> Rates@ceexpress.ca</b>
                        <b> Dispatch@ceexpress.ca</b>
                        <b> Dispatchx@ceexpress.ca</b>

                    </div>
                    <div class="footer-widget col-md-6 col-lg-6 col-xs-12">

                        <b>DispatchUSA@ceexpress.ca</b>
                        <b>payables@ceexpress.ca  </b>
                        <b>claims@ceexpress.ca </b>

                    </div>


                </div>



            </div>

        </div>

    </div>

</section>



